root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.dart]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,json5,webmanifest}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{htm,html,js,jsm,jsx,ts,tsx,css,sass,scss,less,pcss,svg,vue}]
indent_size = 2